.row
	.col-md-6(class='col-md-5-offset')
		h2
			|Type in your data
		.form-group
			input(type='text', default='Wroclaw', ng-model='city' class='form-control')
		a.btn.btn-primary(ng-href='#!/forecast/2')
			|Next
